@font-face {
    font-family: 'Vremena Grotesk';
    src: url('vremenagrotesk.eot');
    src: url('vremenagrotesk.eot?#iefix') format('embedded-opentype'),
         url('vremenagrotesk.woff') format('woff'),
         url('vremenagrotesk.ttf') format('truetype');
      font-weight: 400;
      font-style: normal;
}

@font-face {
    font-family: 'Vremena Grotesk';
    src: url('vremenagroteskbold.eot');
    src: url('vremenagroteskbold.eot?#iefix') format('embedded-opentype'),
         url('vremenagroteskbold.woff') format('woff'),
         url('vremenagroteskbold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Vremena Grotesk';
    src: url('vremenagroteskbolditalic.eot');
    src: url('vremenagroteskbolditalic.eot?#iefix') format('embedded-opentype'),
         url('vremenagroteskbolditalic.woff') format('woff'),
         url('vremenagroteskbolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
font-family: 'Vremena Grotesk';
    src: url('vremenagroteskbook.eot');
    src: url('vremenagroteskbook.eot?#iefix') format('embedded-opentype'),
         url('vremenagroteskbook.woff') format('woff'),
         url('vremenagroteskbook.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
font-family: 'Vremena Grotesk';
    src: url('vremenagroteskbookitalic.eot');
    src: url('vremenagroteskbookitalic.eot?#iefix') format('embedded-opentype'),
         url('vremenagroteskbookitalic.woff') format('woff'),
         url('vremenagroteskbookitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
font-family: 'Vremena Grotesk';
    src: url('vremenagroteskitalic.eot');
    src: url('vremenagroteskitalic.eot?#iefix') format('embedded-opentype'),
         url('vremenagroteskitalic.woff') format('woff'),
         url('vremenagroteskitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
font-family: 'Vremena Grotesk';
    src: url('vremenagroteskmedium.eot');
    src: url('vremenagroteskmedium.eot?#iefix') format('embedded-opentype'),
         url('vremenagroteskmedium.woff') format('woff'),
         url('vremenagroteskmedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
font-family: 'Vremena Grotesk';
    src: url('vremenagroteskmediumitalic.eot');
    src: url('vremenagroteskmediumitalic.eot?#iefix') format('embedded-opentype'),
         url('vremenagroteskmediumitalic.woff') format('woff'),
         url('vremenagroteskmediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
