@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('../fonts/gt-walsheim-pro-regular.woff2') format('woff2'),
         url('../fonts/gt-walsheim-pro-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('../fonts/gt-walsheim-pro-medium.woff2') format('woff2'),
         url('../fonts/gt-walsheim-pro-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('../fonts/eb-garamond-regular.woff2') format('woff2'),
         url('../fonts/eb-garamond-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
