* {
    box-sizing: border-box;
}

*:after, *.before {
    box-sizing: border-box;
}

html, body, div, main, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav,
section, summary, main {
    display: block;
}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}

body {
    line-height: 1;
}

ol, ul {
    list-style-type: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

input, textarea {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
}

button, input[type="button"] {
    background: 0;
}

\:required {
     -o-box-shadow: none;
    -ms-box-shadow: none;
        box-shadow: none;
}

em, i {
    font-style: italic;
}

strong, b {
    font-weight: bold;
}

u {
    text-decoration: underline;
}

pre, code {
    font-family: Monaco, Courier, monospace;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word;
}

blockquote, q {
    quotes: "" "";
}

blockquote:before, blockquote:after {
    content: "";
}

q:before, q:after {
    content: "";
}

a {
    cursor: pointer;
}

input[type="submit"], input[type="button"] {
    cursor: pointer;
}

button, label[for] {
    cursor: pointer;
}

img {
    -ms-interpolation-mode: bicubic;
}





/*                                       Start my CSS                         */




.about, .projects {
    position: relative;
    z-index: 60;
    padding-right: 2rem;
    padding-left: 2rem;
    margin: 0rem auto;
}

.narrow {
    max-width: 120rem;
}

.wide {
    max-width: 120rem;
}

.full {
  max-width: 1600px;
  padding-bottom: 4rem;
}

p {
    margin-right: auto;
    margin-left: auto;
    font-size: calc(16px + 0.6vw);
    line-height: 1.5em;
}

@media (max-width: 700px) {
    p {
        font-size: calc(12px + 1vw);
    }
}

p:not(:last-child) {
    margin-bottom: 2rem;
}

p:last-child {
    margin-bottom: 2rem;
}

@media (max-width: 700px) {
  p:not(:last-child) {
      margin-bottom: 0.5rem;
  }

  p:last-child {
      margin-bottom: 0.5rem;
  }
}

a:not(.project-link) {
    color: #222;

    -webkit-transition: opacity 250ms ease-out, color 250ms ease-out;
  	-moz-transition: opacity 250ms ease-out, color 250ms ease-out;
  	-ms-transition: opacity 250ms ease-out, color 250ms ease-out;
  	-o-transition: opacity 250ms ease-out, color 250ms ease-out;
  	transition: opacity 250ms ease-out, color 250ms ease-out;

}

a:hover, a.underlined:hover {
    color: #29314F;
}



a.nav-link:hover {
    opacity: 0.75;

}

.next-project a {
    opacity: 0;
}


.next-project a:hover {
    opacity: 1;
}



a.project-link:hover, .social a:hover, figure a:hover {
    opacity: 1;
}

html {
    font-size: 62.5%;
    font-family: 'GT Walsheim Pro', Arial, sans-serif;
    background: #fff;
}

body {
    font-size: 2.8rem;
    font-synthesis: none;
    line-height: 1.5em;
    color: #222;
    text-align: center;
    /*text-align: left;*/

    background: rgb(242,242,242);

    position: relative;
    overflow: auto;
}

menu {
  background: #fff;
}

main {
    /*overflow: auto;*/
}




.inner-navigation {
    padding-top: 15vh;
    padding-bottom: 5vh;
}

.inner-navigation .headline {
    font-size: calc(20px + 1vw);
    font-weight: 500;
    color: #222;
    opacity: 1;
}

.inner-navigation a.headline:hover {
    opacity: 1;
}

.menu-links {
    float: center;
    padding-top: 3vh;
    text-transform: uppercase;
    font-size: calc(10px + 0.25vw);
    letter-spacing: 1px;
    font-weight: 500;

}

.menu-links span {
  padding-left: 1rem;
  padding-right: 1rem;
}

.menu-links span a {
    color: #7a7a7a;
}

.menu-links span.active a {
    color: #222;
}

@media (max-width: 700px) {
    .inner-navigation br {
        display: none;
    }

    .inner-navigation {
        padding-top: 7vh;
        padding-bottom: 3vh;
    }

    .inner-navigation .headline {
        font-size: calc(24px + 2vw);
        /*color: #222;*/
    }

    .menu-links {
        padding-top: 2vh;
        text-transform: uppercase;
        font-size: calc(10px + 0.5vw);
        letter-spacing: 1px;
    }
}

.projects {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
            align-items: flex-start;
}



@media (max-width: 700px) {
    .projects {
        /*padding-left: 1rem;
        padding-right: 1rem;*/
    }
}



.next-project  {
    padding-top: 10vh;
    padding-bottom: 100px;
}

.next-project a {

    padding: 25vh;
    padding-left: 100%;
    padding-right: 100%;
}

@media (max-width: 700px) {

  .next-project a {
    opacity: 1;
    padding-top: 5vh;
  }

}

.awards { }

.awards p {
  font-family: 'EB Garamond', Georgia, serif;
  font-size: calc(14px + 0.2vw);
  line-height: 1.3em;
}



@media (max-width: 700px) {
    .contacts br, .awards br {
        display: none;
    }

    .next-project {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.sections {
      min-height: 20vh;
      display: flex;
      justify-content: center;
      align-items: center;
}

@media (max-width: 700px) {
    .sections br {
        display: none;
    }

    .sections {
        padding-top: 30px;
        padding-bottom: 40px;
    }
}





article.half, figure.half {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 50%;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    padding: 2rem;
    max-width: 60rem;
}

article.half-portfolio, figure.half-portfolio {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 50%;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    padding: 2rem;
}

article.portfolio, figure.portfolio {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 30%;
        -ms-flex: 1 1 30%;
            flex: 1 1 30%;
    padding: 2rem;
}

article.wide, figure.wide {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 2rem;
}

article.quarter, figure.quarter {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 25%;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%;
    padding: 2rem;
}

@media (max-width: 700px) {
    article, figure, article.portfolio, figure.portfolio, article.half, figure.half, article.half-portfolio, figure.half-portfolio {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 100%;
            -ms-flex: 1 1 100%;
                flex: 1 1 100%;
    }


    article.quarter, figure.quarte {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 50%;
            -ms-flex: 1 1 50%;
                flex: 1 1 50%;
        padding: 1rem;
    }
}

@media (max-width: 700px) {
    article, article.wide, figure, figure.wide  {
        /*padding: 1rem;*/

    }
}

img {
    width: 100%;
    height: auto;
    display: block;
}



figcaption {
  font-family: 'EB Garamond', Georgia, serif;
}

.contacts {
    padding: 2rem;
}

.sans {
  font-family: 'GT Walsheim Pro', Arial, sans-serif;
  line-height: 1.4em;
}

.serif {
  font-family: 'EB Garamond', Georgia, serif;
  line-height: 1.5em;
}

.bolder {
    /*font-size: calc(16px + 1vw);*/
    font-weight: 500;
}


.small-heading {
  font-size: calc(16px + 0.2vw);
  font-weight: 500;
}


.font-var {
  font-feature-settings: "lnum", "liga";
}

figcaption p, .text {
  text-align: left;
  max-width: 90rem;
}


figcaption.small p {
  padding-top: 2rem;
  padding-bottom: 4rem;
  max-width: 90rem;
  font-size: calc(14px + 0.2vw);
  text-align: center;
  color: #7a7a7a;
}


@media (max-width: 700px) {
    figcaption p, figcaption.small p {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
}


.intro {
    min-height: 300px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    /*text-align: center;*/
    text-align: left;
    position: relative;
    background-color: #fff;
    color: #222;

    padding-right: 4rem;
    padding-left: 4rem;

}

.home {
      height: 50vh;
}

@media (max-width: 700px) {
    .intro br {
        display: none;
        visibility: hidden;
    }
}

.intro h2 {
    font-size: calc(17px + 1vw);

    line-height: 1.4em;
    font-weight: 400;

    /*font-weight: 500;*/
    color: #222;
    font-family: 'GT Walsheim Pro', Arial, sans-serif;

}




.amplify {
    font-weight: 500;
    font-family: 'GT Walsheim Pro', Arial, sans-serif;
    color: #222;

}

.simplify {
    font-weight: 400;
    font-family: 'EB Garamond', Georgia, serif;
    color: #222;

}

@media (max-width: 700px) {
    .intro h2 {
        font-size: calc(16px + 1vw);
    }
}

.photo {
  max-width: 250px;
}

.circle {
  border-radius: 1600px;
}

.project-description,  a.project-description {
  font-family: 'EB Garamond', Georgia, serif;

  padding-top: 1rem;
  padding-bottom: 2rem;
  max-width: 90rem;
  font-size: calc(14px + 0.2vw);
  text-align: left;
  color: #7a7a7a;
  /*color: #222;*/
  float: left;
  line-height: 1.4em;

}

.project-description::before {
  content: "";
}

@media (max-width: 700px) {
  .project-description::before {
    content: "";
  }
}


.project-link {
    display: block;
    position: relative;
}




.project-link::after {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: flex-end;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: flex-end;
            align-items: flex-end;
    text-align: center;

    content: attr(data-title);


    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;


    -webkit-transition: opacity 250ms ease;
            transition: opacity 250ms ease;


        background-position: 0% 0%;
        background-repeat: no-repeat;
        background-size: cover;


    opacity: 0;
    color: #222;
    font-size: calc(14px + 0.2vw);

    font-weight: 400;
    line-height: 1.2em;

    padding: 30px;
    padding-bottom:20px;

    animation-play-state: paused;

    border:1px solid #F2F2F2;


}


@media (min-width: 700px) {

@keyframes project-scroll {
	0%,80%,100% {
    background-position: 0 0;
    background-position-x: 0%;
    background-position-y: 0%; }
  40%, 60% {
    background-position: 0 100%;
    background-position-x: 0%;
    background-position-y: 100%; }
}


@keyframes project-slides-fontzhizn {
  0%,20%,100% { background-image: url('/static/portfolio/fontzhizn/h01.jpg');}
  25%, 45% { background-image: url('/static/portfolio/fontzhizn/h08.jpg');}
  50%,70% { background-image: url('/static/portfolio/fontzhizn/v01-2.jpg');}
  75%,95% { background-image: url('/static/portfolio/fontzhizn/h03.jpg');}
}

@keyframes project-slides-websites {
  0%,20%,100% { background-image: url('/static/portfolio/websites/m01.jpg');}
  25%, 45% { background-image: url('/static/portfolio/websites/a02.jpg');}
  50%,70% { background-image: url('/static/portfolio/websites/07.jpg');}
  75%,95% { background-image: url('/static/portfolio/websites/i02.jpg');}
}

@keyframes project-scroll-gintm {
	0%,94%,100% { background-position: 0 0;}
  12%, 18% { background-position: 0 13%;}
  32%, 38% { background-position: 0 30%;}
  52%, 58% { background-position: 0 46%;}
  72%, 78% { background-position: 0 87%;}
  84%, 90% { background-position: 0 100%;}
}

@keyframes project-scroll-instaphoto {
	0%,94%,100% { background-position: 0 0;}
  12%, 18% { background-position: 0 11%;}
  28%, 34% { background-position: 0 21%;}
  44%, 52% { background-position: 0 34%;}
  68%, 76% { background-position: 0 69%;}
  84%, 90% { background-position: 0 100%;}
}

@keyframes project-scroll-sovmod {
	0%,5%,90%,100% { background-position: 0 0;}
  25%, 35% { background-position: 0 30%;}
  50%, 60% { background-position: 0 70%;}
  70%, 80% { background-position: 0 100%;}
}

@keyframes project-scroll-sportacad {
  0%,90%,100% { background-position: 0 0;}
  25%, 35% { background-position: 0 28%;}
  50%, 60% { background-position: 0 64%;}
  70%, 80% { background-position: 0 100%;}
}


@keyframes project-scroll-rukodelov {
	0%,94%,100% { background-position: 0 0;}
  12%, 18% { background-position: 0 12%;}
  32%, 38% { background-position: 0 40%;}
  70%, 78% { background-position: 0 80%;}
  86%, 90% { background-position: 0 100%;}
}

@keyframes project-scroll-taubook {
	0%,94%,100% { background-position: 0 0;}
  12%, 18% { background-position: 0 12%;}
  32%, 38% { background-position: 0 26%;}
  52%, 58% { background-position: 0 44%;}
  74%, 80% { background-position: 0 87%;}
  90% { background-position: 0 100%;}
}

@keyframes project-scroll-tonup {
	0%,90%,100% { background-position: 0 0;}
  25%, 35% { background-position: 0 30%;}
  50%, 60% { background-position: 0 70%;}
  70%, 80% { background-position: 0 100%;}
}

@keyframes project-scroll-wallarm {
	0%,90%,100% { background-position: 0 0;}
  15%, 25% { background-position: 0 25%;}
  35%, 45% { background-position: 0 48%;}
  55%, 65% { background-position: 0 70%;}
  75%, 85% { background-position: 0 100%;}
}



.abstractio::after {
  background-image: url('/static/portfolio/abstractio/00.jpg');
  background-position: 50% 50%;

}

.fontzhizn::after {
  background-image: url('/static/portfolio/fontzhizn/s04.jpg');
  background-image: url('/static/portfolio/fontzhizn/h08.jpg');

  animation: project-slides-fontzhizn 12s ease 0s infinite;
  background-position: 50% 50%;
}

.futurology::after {
  background-image: url('/static/portfolio/futurology/00.jpg');
  background-position: 50% 50%;
}

.gintm::after {
  background-image: url('/static/portfolio/gintm/00.jpg');
  animation: project-scroll-gintm 24s ease 2s 2;
  animation-play-state: paused;
}

.instaphoto::after {
  background-image: url('/static/portfolio/instaphoto/00.jpg');
  animation: project-scroll-instaphoto 24s ease 2s 2;
  animation-play-state: paused;
}

.logotypes::after {
  background-image: url('/static/portfolio/logotypes/a01.jpg');
  background-position: 0% 100%;
}

.luka::after {
  background-image: url('/static/portfolio/luka/00.jpg');
}

.openbank::after {
  background-image: url('/static/portfolio/openbank/00.jpg');
}

.rdc::after {
  background-image: url('/static/portfolio/rdc/01.jpg');
}

.rukodelov::after {
  background-image: url('/static/portfolio/rukodelov/00.jpg');
  animation: project-scroll-rukodelov 24s ease 2s 2;
  animation-play-state: paused;
}

.showreel::after {
  background-color: rgba(242,242,242,0.5);
    /*background-color: rgba(204, 24, 30, 1);*/
}

.sovmod::after {
  background-image: url('/static/portfolio/sovmod/00.jpg');
  animation: project-scroll-sovmod 12s ease 2s 2;
  animation-play-state: paused;
}

.sportacad::after {
  background-image: url('/static/portfolio/sportacad/00.jpg');
  animation: project-scroll-sportacad 24s ease 2s 2;
  animation-play-state: paused;
}

.taubook::after {
  background-image: url('/static/portfolio/taubook/00.jpg');
  animation: project-scroll-taubook 24s ease 2s 2;
  animation-play-state: paused;
}

.tonup::after {
  background-image: url('/static/portfolio/tonup/00.jpg');
  animation: project-scroll-tonup 12s ease 2s 2;
  animation-play-state: paused;
}

.ux::after {
  background-image: url('/static/portfolio/ux/01.jpg');
}

.wallarm::after {
  background-image: url('/static/portfolio/wallarm/00.jpg');
  animation: project-scroll-wallarm 24s ease 2s 2;
  animation-play-state: paused;
}

.websites::after {
  background-image: url('/static/portfolio/websites/m01.jpg');
  animation: project-slides-websites 12s ease 0s infinite;
  background-position: 50% 50%;
}


  .project-link:hover::after {
      opacity: 1;
      animation-play-state: running;
      	pointer-events:none;
  }

  .project-link:active::after, .project-link:focus::after {
    animation-play-state: paused;

  }

}

.social a {
    padding-left: 20px;
    padding-right: 20px;
}

#svg #icon, #svg #circle {
opacity: 0;
-webkit-transition: opacity 250ms ease-out;
        transition: opacity 250ms ease-out;
}


#svg:hover #icon, #svg:hover #circle {
opacity: 1;
-webkit-transition: opacity 250ms ease-out;
        transition: opacity 250ms ease-out;
}

.social {
    padding-top: 100px;
    padding-bottom: 20px;
}

.inner {
    padding-top: 20px;
    padding-bottom: 30px;
}


.social {
    padding-top: 100px;
    padding-bottom: 20px;
}


@media (max-width: 700px) {
    .social {
        padding-top: 20px;
        padding-bottom: 10px;
    }
}

.grayscale {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);

          -webkit-transition: all 250ms ease-out;
                  transition: all 250ms ease-out;

}

.grayscale:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);


}

.hidden {
  display: none;

}

.pb2em {
  padding-bottom: 5vh;
}

@media (max-width: 700px) {
    .pb2em {
        padding-bottom: 2vh;
    }
}


a.underlined {

  border-bottom:1px solid #d7d7d7;

  /*-moz-text-decoration: underline;
  -webkit-text-decoration: underline;

  -moz-text-decoration-color: #d7d7d7;
  -webkit-text-decoration-color: #d7d7d7;
  text-decoration-color: #d7d7d7;*/
}

.content {
	min-height:100vh;

	position:relative;
	z-index:200;
	background:white;
  padding-bottom: 15vh;

	margin-bottom:50vh;  /* edit */
}

@media (max-width: 500px) {
	.content {
		padding:4rem 0rem 3rem
	}
}

.content::after {
	content:"";
	position:absolute;
	bottom:-50vh;  /* edit */
	right:0;
	left:0;
	height:50vh;  /* edit */
	pointer-events:none;
}

.next-footer {
/*
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);*/

  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;

  background: rgb(242,242,242);

  background-size: contain;
  background-repeat: no-repeat;

  background-position: bottom center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  height: 50vh; /* edit */
}
@media (max-width: 500px) {
	.next-footer {
		padding:2rem
	}
}
